In [20]:
import pandas as pd
import numpy as np
import scipy.stats as ss
from tensorflow.keras.models import load_model
from tensorflow.keras.preprocessing.image import ImageDataGenerator

**model training Notebook** - [here](https://www.kaggle.com/code/asheniranga/paddy-doctor-training)

In [10]:
s1 = pd.read_csv('../input/paddydocoutputs/model_submission_v5.csv')
s2 = pd.read_csv('../input/paddy-doctor-training/model_submission_v5.csv')
s3 = pd.read_csv('../input/k/kasunpramodya/paddy-doctor-training/model_submission_v5.csv')

In [18]:
s_full = pd.concat([s1,s2.drop('image_id', axis=1),s3.drop('image_id', axis=1)], axis=1).set_index('image_id')
s_full

,label,label,label
image_id,,,
200001.jpg,hispa,hispa,hispa
200002.jpg,normal,normal,normal
200003.jpg,blast,blast,blast
200004.jpg,blast,blast,blast
200005.jpg,blast,blast,blast
...,...,...,...
203465.jpg,dead_heart,dead_heart,dead_heart
203466.jpg,hispa,hispa,hispa
203467.jpg,normal,normal,normal
203468.jpg,bacterial_leaf_streak,bacterial_leaf_streak,bacterial_leaf_streak
203469.jpg,dead_heart,dead_heart,dead_heart

In [23]:
s_full_mode = ss.mode(s_full, axis=1)

In [33]:
s_df = pd.DataFrame()
s_df['label'] = s_full_mode[0].reshape(1,-1)[0]
s_df['count'] = s_full_mode[1]
s_df

                      label  count
0                     hispa      3
1                    normal      3
2                     blast      3
3                     blast      3
4                     blast      3
...                     ...    ...
3464             dead_heart      3
3465                  hispa      3
3466                 normal      3
3467  bacterial_leaf_streak      3
3468             dead_heart      3

[3469 rows x 2 columns]

In [46]:
s_full['most'] = s_full_mode[0].reshape(1,-1)[0]
s_full

,label,label,label,most
image_id,,,,
200001.jpg,hispa,hispa,hispa,hispa
200002.jpg,normal,normal,normal,normal
200003.jpg,blast,blast,blast,blast
200004.jpg,blast,blast,blast,blast
200005.jpg,blast,blast,blast,blast
...,...,...,...,...
203465.jpg,dead_heart,dead_heart,dead_heart,dead_heart
203466.jpg,hispa,hispa,hispa,hispa
203467.jpg,normal,normal,normal,normal
203468.jpg,bacterial_leaf_streak,bacterial_leaf_streak,bacterial_leaf_streak,bacterial_leaf_streak
203469.jpg,dead_heart,dead_heart,dead_heart,dead_heart

In [45]:
s_full.iloc[s_df[s_df['count']>2].index].index

Index(['200001.jpg', '200002.jpg', '200003.jpg', '200004.jpg', '200005.jpg',
       '200006.jpg', '200007.jpg', '200008.jpg', '200009.jpg', '200010.jpg',
       ...
       '203460.jpg', '203461.jpg', '203462.jpg', '203463.jpg', '203464.jpg',
       '203465.jpg', '203466.jpg', '203467.jpg', '203468.jpg', '203469.jpg'],
      dtype='object', name='image_id', length=3309)

In [41]:
s_full.iloc[s_df[s_df['count']<2].index]

,label,label,label
image_id,,,
200107.jpg,blast,brown_spot,tungro
200263.jpg,brown_spot,dead_heart,blast
200519.jpg,brown_spot,tungro,blast
200996.jpg,bacterial_panicle_blight,normal,dead_heart
201312.jpg,tungro,blast,normal
201845.jpg,bacterial_leaf_blight,downy_mildew,hispa
201848.jpg,bacterial_leaf_blight,hispa,brown_spot
201920.jpg,brown_spot,tungro,normal
202159.jpg,tungro,blast,dead_heart
202267.jpg,blast,downy_mildew,dead_heart
202379.jpg,bacterial_leaf_streak,bacterial_leaf_blight,tungro
202423.jpg,bacterial_leaf_streak,brown_spot,tungro
202736.jpg,blast,tungro,bacterial_leaf_blight
203100.jpg,tungro,blast,downy_mildew

In [62]:
s_final = s_full[['most']]
s_final.iloc[s_df[s_df['count']<2].index] = s3.drop('image_id', axis=1).iloc[s_df[s_df['count']<2].index]
s_final

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

                             most
image_id
200001.jpg                  hispa
200002.jpg                 normal
200003.jpg                  blast
200004.jpg                  blast
200005.jpg                  blast
...                           ...
203465.jpg             dead_heart
203466.jpg                  hispa
203467.jpg                 normal
203468.jpg  bacterial_leaf_streak
203469.jpg             dead_heart

[3469 rows x 1 columns]

In [66]:
s = s_final.rename(columns={'most':'label'}).reset_index()
s

        image_id                  label
0     200001.jpg                  hispa
1     200002.jpg                 normal
2     200003.jpg                  blast
3     200004.jpg                  blast
4     200005.jpg                  blast
...          ...                    ...
3464  203465.jpg             dead_heart
3465  203466.jpg                  hispa
3466  203467.jpg                 normal
3467  203468.jpg  bacterial_leaf_streak
3468  203469.jpg             dead_heart

[3469 rows x 2 columns]

In [68]:
s.to_csv('model_submission_v10.csv', index=False)